<div class="p-grid p-dir">
  <div class="p-col">
    <app-static-weather-chart [response]="weatherDataResponse1"></app-static-weather-chart>
  </div>
  <div class="p-col">
    <app-static-weather-chart [response]="weatherDataResponse2"></app-static-weather-chart>
  </div>
  <div class="p-col">
    <app-static-weather-chart [response]="weatherDataResponse3"></app-static-weather-chart>
  </div>
  <div class="p-col">
    <app-static-weather-chart [response]="weatherDataResponse4"></app-static-weather-chart>
  </div>
  

</div>