<div class="p-grid p-dir" style="margin-left: 15px; margin-top:20px">
  <div class="p-col graph-box" >
    <app-static-weather-chart [response]="weatherDataResponse1"></app-static-weather-chart>
    <label>Rathnapura</label>
  </div>
  <div class="p-col graph-box">
    <app-static-weather-chart [response]="weatherDataResponse2"></app-static-weather-chart>
    <label>Badulla</label>
  </div>
  <div class="p-col graph-box">
    <app-static-weather-chart [response]="weatherDataResponse3"></app-static-weather-chart>
    <label>Nuwara-Eliya</label>
  </div>
  <div class="p-col graph-box">
    <app-static-weather-chart [response]="weatherDataResponse4"></app-static-weather-chart>
    <label>Mathale</label>
  </div>
</div>
