<div class="container">
    <h1>Weather</h1>

    <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">
        <label>
            Date Range:
            <p-calendar formControlName="date_range" dateFormat="dd.mm.yy" selectionMode="range" showIcon=true></p-calendar>
        </label>

        <label>
            Coordinates:
            <input type="text" id="coord" formControlName="coordinates" required>
        </label>

        <button type="submit" [disabled]="!weatherForm.valid">Get Data</button>

    </form>

</div>