<div class="container">
    <h1>Weather</h1>

    <form [formGroup]="weatherForm" (ngSubmit)="onSubmit()">

        <p-toggleButton onLabel="Range" offLabel="Default" formControlName="isRange"></p-toggleButton>
        <div *ngIf="isRangeData; else range">
            <label>
                Date Range:
                <p-calendar formControlName="date_range" dateFormat="dd.mm.yy" selectionMode="range" showIcon=true></p-calendar>
            </label>
        </div>

        <ng-template #range>
            <label>
                Date:
                <p-calendar formControlName="date" dateFormat="dd.mm.yy" showIcon=true monthNavigator=true
                    yearNavigator=true></p-calendar>
            </label>
        </ng-template>


        <label>
            Coordinates:
            <input type="text" id="coord" formControlName="coordinates" required>
        </label>

        <button type="submit" [disabled]="!weatherForm.valid">Get Data</button>

    </form>

    <app-static-weather-chart [response]="weatherDataResponse"></app-static-weather-chart>
</div>