<div class="p-grid p-dir">
  <div class="p-col">

    <app-mapdetail [mapDetailObject]='mapObject' [mapCoordinateObject]='coordinateObject'></app-mapdetail>
    <div style="margin-top: 20px" class="p-grid p-dir">
      <!--<div class="p-col">-->
      <!--&lt;!&ndash; <app-static-weather-chart></app-static-weather-chart> &ndash;&gt;-->
      <!--&lt;!&ndash; <app-static-weather-chart [response]="weatherDataResponse"></app-static-weather-chart> &ndash;&gt;-->
      <!--<button (click)="getData()">Test zip</button>-->
      <!--</div>-->
      <div class="p-col">
        <app-weather-detail [selected_coord]="selectedCoordinates"></app-weather-detail>
      </div>

      <!-- <div class="p-col">
        <app-mapdetail [mapDetailObject]='mapObject' [mapCoordinateObject]='coordinateObject'></app-mapdetail>
      </div>

      <div class="p-col">
        <div style="height:40%" id="map"></div>
        <form>
          <label>
            Landslides:

            <mat-slide-toggle (change)="landslideChange($event)" [checked]="checked_landslide" [disabled]="isFetchingShapeFile">

            </mat-slide-toggle>
          
          </label>
          <label>
            Land Use:
            <mat-slide-toggle (change)="landuseChange($event)" [disabled]="isFetchingShapeFile">

            </mat-slide-toggle> 
          </label>
          <label>
            Geology:
            <mat-slide-toggle (change)="geologyChange($event)" [disabled]="isFetchingShapeFile">

            </mat-slide-toggle> <p-inputSwitch (onChange)="geologyChange($event)"></p-inputSwitch> --> 
          <!-- </label>
        </form> -->

        <!--  <button (click)="getData()">Test zip</button> -->
      <!-- </div> -->
      <iframe src="http://editor.giscloud.com/rest/1/maps/934814/render.iframe?bound=8937839.045156855,725138.9780843928,8963942.290316243,735171.3380468227&toolbar=true&popups=true&layerlist=true" width="600" height="400" frameborder="0"></iframe>
    </div>
  </div>
</div>