<div class="p-grid p-dir">
    <div class="p-col">
        <app-weather-detail [selected_coord]="selectedCoordinates"></app-weather-detail>

        <div style="margin-top: 20px" class="p-grid p-dir">
          <div class="p-col">
            <app-static-weather-chart></app-static-weather-chart>
          </div>

          <div class="p-col">
            <app-mapdetail [mapDetailObject]='mapObject' [mapCoordinateObject]='coordinateObject'
            [mapType]='type'></app-mapdetail>
          </div>
        </div>
    </div>

    <div class="p-col">
        <div style=height:60% id="map" class=""></div>
    </div>
</div>


<button (click)="getData()">Test zip</button>
