<!-- <div>{{_mapCoordinateObject['lat']}}</div>
<div>{{_mapCoordinateObject['lng']}}</div>
<div>{{[mapType]}}</div> -->
<p-table [value]="mapDatailKeys" [scrollable]="true" scrollHeight="200px" [resizableColumns]="true">

  <ng-template pTemplate="header">
      <tr>
          <th>Feature</th>
          <th>Value</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dataItem>
      <tr>
          <td>{{dataItem}}</td>
          <td>{{_mapDetailObject[dataItem]}}</td>
      </tr>
  </ng-template>
</p-table>
